*.o
*.a

.*
!.gitignore
!.github/
linux-2.4.17_ps2/rootfs

linux-2.4.17_ps2/System.map
linux-2.4.17_ps2/vmlinux
linux-2.4.17_ps2/include/asm
linux-2.4.17_ps2/include/asm-mips/offset.h
linux-2.4.17_ps2/include/linux/autoconf.h
linux-2.4.17_ps2/include/linux/version.h
linux-2.4.17_ps2/scripts/mkdep
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_afsk1200.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_afsk2400_7.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_afsk2400_8.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_afsk2666.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_fsk9600.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_hapn4800.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/sm_tbl_psk4800.h
linux-2.4.17_ps2/drivers/net/hamradio/soundmodem/gentbl
linux-2.4.17_ps2/scripts/split-include
linux-2.4.17_ps2/arch/mips/ld.script
linux-2.4.17_ps2/drivers/char/conmakehash
linux-2.4.17_ps2/drivers/char/consolemap_deftbl.c
linux-2.4.17_ps2/include/config/MARKER
linux-2.4.17_ps2/arch/mips/tools/offset.s
